[project]
	description = Cloud9 IDE - Your code anywhere, anytime. Open Source Javascript IDE.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/vchen (ylchern)
[access "refs/for/refs/*"]
	read = group user/vchen (ylchern)
	push = group user/vchen (ylchern)
	label-Code-Review = -2..+2 group user/vchen (ylchern)
	label-Verified = -1..+1 group user/vchen (ylchern)
	rebase = group user/vchen (ylchern)
	removeReviewer = group user/vchen (ylchern)
	submit = group user/vchen (ylchern)
[access "refs/heads/*"]
	read = group user/vchen (ylchern)
	create = group user/vchen (ylchern)
	push = +force group user/vchen (ylchern)
	pushMerge = group user/vchen (ylchern)
[access "refs/tags/*"]
	push = +force group user/vchen (ylchern)
	pushTag = group user/vchen (ylchern)
	pushSignedTag = group user/vchen (ylchern)
